In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns

In [2]:
df_train = pd.read_csv(r"train.csv")
df_test = pd.read_csv(r"test.csv")
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#Training Data Columns
df_train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:

#Training Data Description for Quantitative Columns
df_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
#Training Data Description for Categorical Columns
df_train.describe(include=['O'])

,Name,Sex,Ticket,Cabin,Embarked
count,891,891,891,204,889
unique,891,2,681,147,3
top,"Bradley, Mr. George (""George Arthur Brayton"")",male,347082,C23 C25 C27,S
freq,1,577,7,4,644

In [6]:
#More Information about Training Data
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
# show which columns have Nan values (Age, Cabin, Embarked)

miss_columns = [i for i in df_train.columns if df_train[i].isna().any()]
miss_columns

['Age', 'Cabin', 'Embarked']

In [8]:
# create X_train and Y_train

X_train = df_train.drop('Survived', axis=1)
y_train = pd.DataFrame(df_train['Survived'], columns=['Survived'])

In [9]:
def numerical(data):
    #Numerical and Non_numerical Columns
    numerical_columns = data.select_dtypes(include=['number']).columns.values
    non_numerical_columns = data.select_dtypes(exclude=['number']).columns.values
    return numerical_columns, non_numerical_columns

In [10]:
#Numerical and Non_numerical Columns
numerical_columns, non_numerical_columns = numerical(X_train)
print('numiric_columns:',numerical_columns)
print('non_numiric_columns:',non_numerical_columns)

numiric_columns: ['PassengerId' 'Pclass' 'Age' 'SibSp' 'Parch' 'Fare']
non_numiric_columns: ['Name' 'Sex' 'Ticket' 'Cabin' 'Embarked']

In [12]:
def cat_quant(data):
    categorical = list()
    quantitative = []
    for i in data.columns:

        if len(data[i].unique()) > 10:
            quantitative.append(i)

        else:
            categorical.append(i)
            
    return quantitative, categorical

In [13]:
#Quantitative and Categorical Columns
quantitative,  categorical= cat_quant(X_train)

print('Quantitative Columns:',quantitative)
print('Categorical Columns:',categorical)

Quantitative Columns: ['PassengerId', 'Name', 'Age', 'Ticket', 'Fare', 'Cabin']
Categorical Columns: ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']

# **Assume all women survived**

In [28]:
women = df_train.loc[df_train.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived: ", rate_women)

% of women who survived:  0.7420382165605095

In [29]:
men = df_train.loc[df_train.Sex == 'male']['Survived']
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

# **Random forest model**

In [30]:
from sklearn.ensemble import RandomForestClassifier

y = df_train['Survived']

feature = ['Pclass','Sex','Age','SibSp','Parch']

X = pd.get_dummies(df_train[feature])
X_test = pd.get_dummies(df_test[feature])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

model.fit(X,y)

predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerID': df_test.PassengerId, 'Survived': predictions})

output.to_csv('submission2.csv',index=False)

# **Logist Regression Model**

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV 
from sklearn.preprocessing import MinMaxScaler

In [6]:
y = df_train['Survived']

feature = ['Pclass','Sex','Age','SibSp','Parch','Embarked']

X = pd.get_dummies(df_train[feature])
X_test = pd.get_dummies(df_test[feature])

# X = df_train[feature]
# X_test = df_test[feature]

In [8]:
# from sklearn.preprocessing import LabelEncoder

# label_encoder = LabelEncoder()

# # X['Sex'] = label_encoder.fit_transform(X['Sex'])
# X['Embarked'] = label_encoder.fit_transform(X['Embarked'])

# # X_test['Sex'] = label_encoder.fit_transform(X_test['Sex'])
# X_test['Embarked'] = label_encoder.fit_transform(X_test['Embarked'])

KeyError: 'Embarked'

In [11]:
scaler = MinMaxScaler()

X['Age'] = scaler.fit_transform(X[['Age']])
X_test['Age'] = scaler.fit_transform(X_test[['Age']])

In [12]:
X

,Pclass,Age,SibSp,Parch,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,0.2750,1,0,0,1,0,0,1
1,1,0.4750,1,0,1,0,1,0,0
2,3,0.3250,0,0,1,0,0,0,1
3,1,0.4375,1,0,1,0,0,0,1
4,3,0.4375,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...
886,2,0.3375,0,0,0,1,0,0,1
887,1,0.2375,0,0,1,0,0,0,1
888,3,0.0000,1,2,1,0,0,0,1
889,1,0.3250,0,0,0,1,1,0,0
890,3,0.4000,0,0,0,1,0,1,0

In [13]:
parameters_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100]}


model = LogisticRegression()


# grid search 
grid_search = GridSearchCV(model, parameters_grid, cv=5)

grid_search.fit(X,y)

best_C = grid_search.best_params_['C']

In [14]:
model = LogisticRegression(C=best_C)

model.fit(X,y)

predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerID': df_test.PassengerId, 'Survived': predictions})

In [16]:
output.to_csv('submission_C4.csv',index=False)